*.resx
Resx-Translator.spec
traductor.spec
__pycache__/traductor.cpython-39.pyc
build/Resx-Translator/Analysis-00.toc
build/Resx-Translator/base_library.zip
build/Resx-Translator/EXE-00.toc
build/Resx-Translator/PKG-00.pkg
build/Resx-Translator/PKG-00.toc
build/Resx-Translator/PYZ-00.pyz
build/Resx-Translator/PYZ-00.toc
build/Resx-Translator/Resx-Translator.exe.manifest
build/Resx-Translator/Tree-00.toc
build/Resx-Translator/Tree-01.toc
build/Resx-Translator/warn-Resx-Translator.txt
build/Resx-Translator/xref-Resx-Translator.html
build/traductor/Analysis-00.toc
build/traductor/base_library.zip
build/traductor/EXE-00.toc
build/traductor/PKG-00.pkg
build/traductor/PKG-00.toc
build/traductor/PYZ-00.pyz
build/traductor/PYZ-00.toc
build/traductor/traductor.exe.manifest
build/traductor/Tree-00.toc
build/traductor/Tree-01.toc
build/traductor/warn-traductor.txt
build/traductor/xref-traductor.html
__pycache__/Translator.cpython-39.pyc
